{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>KITrue | Register</title>
        {% include 'gerencia/partials/imports.html' %}
        <link rel="shortcut icon" type="image/ico" href="{% static 'gerencia/images/favicon.ico' %}" >
        <link rel="stylesheet" href="{% static 'gerencia/css/style.css' %}" />
    </head>
    <body>
        {% include 'gerencia/partials/header.html' %}
        <h1 class="titulo"> Cadastro de produto </h1>
        <div class="pagina">
                <fieldset class="grupo">
                    <form name="formulario" action="{% url 'cadastro' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}	
                        <div class="campo">
                            <input type="text" name="nome" id="nome" placeholder="Nome do produto" required/>
                            <input type="text" name="marca" id="Marca" placeholder="Marca do produto" required/>
                            <input type="text" name="quantidade" id="Total" placeholder="quantidade do produto" required/>
                            <input type="text" name="descricao" id="Descrição do produto" placeholder="Descrição" required/>
                            <input type="text" name="preco" id="preco" placeholder="preço" required/>
                            <input type="file" name="imagem" id="imagem" accept="image/png, image/jpeg"/>
                           
                            <button class="botao" type="submit">Cadastro</button>
                            <button class="botaoVermelho" type="reset">Deletar</button>
                        </div>
                    </form>      
                </fieldset>
    </div> 

        <footer class="rodape"></footer>
        <script src="{% static 'gerencia/js/main.js' %}"></script>
    </body>
</html>