{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Entradas</title>
        {% include 'gerencia/partials/imports.html' %}
        
        <link rel="stylesheet" href="{% static 'gerencia/css/style.css' %}" />
    </head>
    <body>
        {% include 'gerencia/partials/header.html' %}

        <main class="home">
            <div class="filtro">
                <div id="home__container">
                    <form action="" class="home__input__estilo">
                        <input
                            class="home__input"
                            id="barra_de_pesquisa"
                            onkeyup="pesquisa_produto()"
                            type="text"
                        />
                        <button class="home__search__button"><i class="fa-solid fa-magnifying-glass"></i></button>    
                    </form> 
                </div>
                <a id="cadastrar" class="botaoCadastro" href="{% url 'cadastro' %}"><button class="botaoEntrada">+</button></a>
            </div>
            <div class="lista">
                <ul>
                    <li class="produto"><img src={% static 'gerencia/images/desodorante.png' %}>Rexona</li>
                    <li class="produto"><img src={% static 'gerencia/images/sabonete.png' %}>Sabonete</li>
                    <li class="produto"><img src={% static 'gerencia/images/escova-de-dentes.png' %}>escova de dentes</li>
                    <li class="produto"><img src={% static 'gerencia/images/pente-de-cabelo.png' %}>pente de cabelo</li>
                </ul>
            </div>
        </main>

        <footer class="rodape"></footer>
        <script src="{% static 'gerencia/js/main.js' %}"></script>
    </body>
</html>
