{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>KITrue | Home</title>
        {% include 'gerencia/partials/imports.html' %}
        <link rel="shortcut icon" type="image/ico" href="{% static 'gerencia/images/favicon.ico' %}" >
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="{% static 'gerencia/css/style.css' %}" />
    </head>
    <body>
        {% include 'gerencia/partials/header.html' %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                fetch('/chart_data/')
                    .then(response => response.json())
                    .then(data => {
                        
                        var ctx = document.getElementById('myBubbleChart').getContext('2d');
    
                        var myBubbleChart = new Chart(ctx, {
                            type: 'bubble',
                            data: {
                                datasets: data.datasets,
                            },
                            options: {
                                scales: {
                                    x: {
                                        type: 'linear',
                                        position: 'bottom',
                                    },
                                    y: {
                                        type: 'linear',
                                        position: 'left',
                                    },
                                },
                            },
                            
                        });
                    });
                    
            });
        </script>

        <div class="divlista">

            <div class="lista_avisos">
                <h2>Avisos de Previsão</h2>
                <ul>
                    {% for produto in produtos %}
                        {% if produto.quantidade <= 10 %}
                        <li>{{ produto.nome }} - Cuidado a Quantidade do protudo é de: {{ produto.quantidade }}</li>
                        {% endif %}
                    {% endfor %}
                    <!-- Adicione mais itens conforme necessário -->
                </ul>
            </div>
            <div class="containergraph">
                <canvas id="myBubbleChart" class="graph"></canvas>
            </div>

        </div>
 




        {% include 'gerencia/partials/footer.html' %}

    </body>
</html>
