<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico de Bolhas de Produtos</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div style="width: 80%; margin: auto;">
        <canvas id="myBubbleChart" width="400" height="200"></canvas>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/chart_dataa/')
                .then(response => response.json())
                .then(data => {
                    var ctx = document.getElementById('myBubbleChart').getContext('2d');

                    var myBubbleChart = new Chart(ctx, {
                        type: 'bubble',
                        data: {
                            datasets: data.datasets,
                        },
                        options: {
                            scales: {
                                x: {
                                    type: 'linear',
                                    position: 'bottom',
                                },
                                y: {
                                    type: 'linear',
                                    position: 'left',
                                },
                            },
                            plugins: {
                                tooltip: {
                                    callbacks: {
                                        label: function(context) {
                                            return 'Quantidade: ' + context.parsed.y;
                                        }
                                    }
                                }
                            }
                        },
                    });
                });
        });
    </script>
</body>

</html>
