:root {
    --cor-plano-de-fundo: #eeeeee;
    --cor-fundo: #f0e9d1;
    --cor-fundoEscuro: #e6ddc4;
    --cor-letra: #000000;
    --cor-cabecalho: #181d31;
    --cor-destaque: #54d64c;
    --letra-titulo: 'VT323', monospace;
    --letra-log: 'Kanit', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--cor-plano-de-fundo);
}

/* ---- Cabeçalho (Global)---- */

.cabecalho {
    background: var(--cor-cabecalho);
}

.cabecalho__menu {
    font-size: 4rem;
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 144rem;
    padding: 2rem;
    gap: 10%;
}

.cabecalho__menu__link {
    font-family: var(--letra-titulo);
    font-weight: 600;
    font-size: 2rem;
    color: var(--cor-fundo);
    text-decoration: none;
    transition: 0.5s;
}

.cabecalho__menu__link:hover {
    color: var(--cor-destaque);
    transition: 0.5s;
}

.cabecalho__menu__destaque {
    color: var(--cor-destaque);
}

/* ---- Search Bar (Entradas) ---- */

.home__container {
    padding: 3rem;
    max-width: 144rem;
    margin: 0 auto;
}

.home__input__estilo {
    border: 2px solid #ccc;
    max-width: 30rem;
    border-radius: 5px;
    margin: 0.8rem auto;
    position: relative;
    transition: all 300ms ease-in-out;
}

.home__input__estilo:focus-within {
    border-color: #A7D397;
}

.home__input__estilo:focus-within .home__search__button {
    color: #A7D397;
}

.home__input,
.home__search__button {
    border: none;
    background: none;
    outline: none;
    padding: 1rem;
    transition: all 300ms ease-in-out;
    border-radius: 0.2rem;
}

.home__search__button:focus {
    outline: 1px solid rgb(80, 185, 255);
    background: #eee;
}

.home__search__button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.home__input {
    font-size: 16px;
    width: 100%;
    padding-right: 2.8rem;
}

.home__input:focus-within {
    background: rgb(255, 255, 255);
}

/* ---- Lista de Produtos (Entradas) ---- */

.lista{
    display: flex; 
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
}

.produto {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 15rem;
    width: 15rem;
    margin: 3rem 1rem;
    color: #666;
    background: #eee;
    border: 0.5rem solid white;
    border-radius: 7px;
    transition: all 100ms ease-in-out;
    font-family: 'Roboto Slab', serif;
    border: 1px solid #A9A9A9;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    transition-duration: 0.5s;
    font-family: var(--letra-log);
}


.produto:hover {
    transform: scale(1.05) translateY(-5%);
    transition: all 100ms ease-in-out;
    cursor: pointer;
    border-color: #A6CF98;
    background-color: #A6CF98;
    transition-duration: 0.5s;
}

.produto img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.lista a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}





/* ---- Parte de cadastro ---- */

input, select, textarea, button{
    border-radius: 5px;
}
fieldset {
    border:0;
}

.pagina_cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    background-color: #F5F5F5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 3%;
    padding: 2% 2% 2% 2%;
    font-family: var(--letra-log);
}
form_cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 300px;
}

.grupo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 300px;
}

.campo{
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.campo input[type="text"] {
    padding: 0.5em;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    margin: 5px;
    font-size: 15px;
}

.campo input[type="file"] {
    padding: 0.5em;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    margin: 5px;
    font-size: 15px;
}

.botao {
    font-size: 1.2em;
    background: #A6CF98;
    border-radius: 5px;
    color: #000000;
    padding: 0.2em 6em;
    margin-bottom: 3%;
    margin-top: 3%;
    border: none;
    transition-duration: 0.6s;
}

.botaoVermelho {
    font-size: 1.2em;
    background: #EF6262;
    border-radius: 5px;
    color: #000000;
    padding: 0.2em 0.6em;
    border: none;
    font-family: var(--letra-log);
    transition-duration: 0.6s;
}
.botaoVermelho:hover {
    background: rgb(168, 0, 0);
    color: #F5F7F8;
}
.botao:hover {
    background: #557C55;
    color: #F5F7F8;
}

.botaoEntrada {
    font-size: 1.2em;
    background: #9ADE7B;
    border-radius: 5px;
    color: #000000;
    padding: 0.2em 0.6em;
    border: none;
    transition-duration: 0.6s;
    margin-left: 40%;
}

.botaoEntrada:hover {
    background: #508D69;
    color: #F5F7F8;
}

.filtro {
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.titulo {
    display: flex;
    justify-content: center;
    margin: 10px;
}
 


/* ---- Parte das imagens ---- */

.imagens_entradas {
    width: 100%;
    height: auto;
}

/* ---- Modal ---- */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #888;
    width: fit-content;
    height: fit-content;
}
.modal_imagem {
    max-width: 100%; 
    max-height: 100%;
    display: block; 
    margin: auto; 
    text-align: center; 
    margin-top: 5%;
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    transition-duration: 0.8s;
}

.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal_info{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.addret_alert{
    color: red;
    font-family: var(--letra-log);
    font: 25px;
}

.model_container_text {
    display: flex;
    padding-bottom: 5px;
    font: 30px;
    font-family: var(--letra-log);
    justify-content: center;
    border-bottom: 1px solid #B6BBC4;
}

.model_container_descricao {
    font: 25px;
    font-family: var(--letra-log);
}



.botaoEditar {
    font-size: 1.2em;
    background-color: #9ADE7B;
    border-radius: 5px;
    color: #000000;
    padding: 0.2em 0.6em;
    cursor: pointer;
    margin-right: 1vw;
    border: none;
    transition-duration: 0.6s;
}

.botaoEditar:hover {
    color: #F5F7F8;
    background: #508D69;
}

.botaoExcluir {
    font-size: 1.2em;
    background: #EF6262;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    padding: 0.2em 0.6em;
    text-decoration: none;
    border: none;
    transition-duration: 0.6s;
}

.botaoExcluir:hover {
    color: #F5F7F8;
    background: rgb(168, 0, 0);
}

.modalFuncao{
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal_funcao_content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #888;
    width: fit-content;
    height: fit-content;
}

.formularioEdicao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}	

.modal_botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}	

.botaoConfirmar {
    font-size: 1.2em;
    background: var(--cor-destaque);
    border-radius: 10px;
    color: #000000;
    padding: 0.2em 0.6em;
    cursor: pointer;
    margin-right: 1vw;
}	

.botaoConfirmar:hover {
    background: green;
}

.botaoCancelar {
    font-size: 1.2em;
    background: red;
    border-radius: 10px;
    color: #000000;
    padding: 0.2em 0.6em;
    cursor: pointer;
}

.botaoCancelar:hover {
    background: rgb(168, 0, 0);
}

.addret_inputs {
    border: 1px solid #919191;
    padding: 0.2em 0.6em;
    
}

.addret_buttons {
    text-align: right;
    border: none;
    padding: 0.2em 0.6em;
}


.reg_container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
}

.reg_list {
    margin: 10px 10px
}

.reg_items {
    background-color: gray;
    border-radius: 5px;
    border: 1px solid #919191; 
    padding: 12px; 
    margin: 0.5em 0; 
    color: white;
    font-family: var(--letra-log);
    font-size: 17px;
     list-style: none;
}

/* ---------------- Botão Excel------------------- */

  .btn_container {
        display: flex;
        justify-content: flex-end;
        align-items: end;
        margin-right: 30%;
    }


  .excl{

    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    padding: 8px;
    color: #fff;
    border-radius: 0.3em;
    border: 5px solid #333;
    transition: all .35s;
    font-family: var(--letra-log);
  }
  
  
  .excl:hover{
    width: 200px;
    padding: 8px;
    border-radius: 0.3em;
    background-color: transparent;
    border: 5px solid #2ecc71;
    color: #2ecc71;
  }


/* ---------------------------------------------- */


.divlista {
    padding: 30px;
    background-color: #FFFFFF;
    width: auto; /* Increase the width to 100% */
    height: auto; /* Increase the height to 600px */
}


.containergraph {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 500px;
}

.graph {
    flex: 1;
    max-width: auto;
    min-height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 9px;
}

.lista_avisos {
    flex: 1;
    padding: 15px;
    margin: 15px;
    margin-top: auto;
    max-width: 30%;
    float: right;
    background-color: #FBECB2;
    border-radius: 3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: var(--letra-log);     
}
.lista_avisos li {
    background-color: #FFCD4B;
    border-radius: 5px;
    border: 1px solid #CCAF64; 
    padding: 8px; 
    margin: 0.5em 0; 
    color: black;
    font-family: var(--letra-log);
    font-size: 11px;
    list-style: none;
}

.lista_avisos li:hover {
    background-color: #CCAF64;
}

.lista_avisos h2 {
    margin-top: 0;
    display: flex;
    font-family: var(--letra-log);
    font-size: 20px;
    color: #000000;
    align-items: center;
    justify-content: center;
}

/* --------------------- avisos ------------------------- */
