:root {
    --cor-plano-de-fundo: #eeeeee;
    --cor-fundo: #f0e9d1;
    --cor-fundoEscuro: #e6ddc4;
    --cor-letra: #000000;
    --cor-cabecalho: #181d31;
    --cor-destaque: #54d64c;
    --letra-titulo: 'VT323', monospace;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--cor-plano-de-fundo);
}

/* ---- Cabeçalho (Global)---- */

.cabecalho {
    background: var(--cor-cabecalho);
}

.cabecalho__menu {
    font-size: 4rem;
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 144rem;
    padding: 2rem;
    gap: 10%;
}

.cabecalho__menu__link {
    font-family: var(--letra-titulo);
    font-weight: 600;
    font-size: 2rem;
    color: var(--cor-fundo);
    text-decoration: none;
    transition: 0.5s;
}

.cabecalho__menu__link:hover {
    color: var(--cor-destaque);
    transition: 0.5s;
}

.cabecalho__menu__destaque {
    color: var(--cor-destaque);
}

/* ---- Search Bar (Entradas) ---- */

.home__container {
    padding: 3rem;
    max-width: 144rem;
    margin: 0 auto;
}

.home__input__estilo {
    border: 0.2rem solid rgba(0, 0, 0);
    max-width: 30rem;
    border-radius: 0.5rem;
    margin: 0.8rem auto;
    position: relative;
    transition: all 300ms ease-in-out;
}

.home__input__estilo:focus-within {
    border-color: rgb(80, 185, 255);
}

.home__input__estilo:focus-within .home__search__button {
    color: rgb(80, 185, 255);
}

.home__input,
.home__search__button {
    border: none;
    background: none;
    outline: none;
    padding: 1rem;
    transition: all 300ms ease-in-out;
    border-radius: 0.2rem;
}

.home__search__button:focus {
    outline: 1px solid rgb(80, 185, 255);
    background: rgba(0, 0, 0, 0.9);
}

.home__search__button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.home__input {
    font-size: 16px;
    width: 100%;
    padding-right: 2.8rem;
}

.home__input:focus-within {
    background: rgb(255, 255, 255);
}

/* ---- Lista de Produtos (Entradas) ---- */

.lista{
    display: flex; 
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
}

.produto {
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 15rem;
    width: 15rem;
    margin: 3rem 1rem;
    color: #666;
    background: #eee;
    border: 0.5rem solid white;
    box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.08),
        0 1px 10px hsla(0, 0%, 0%, 0.2);
    border-radius: 10px;
    transition: all 100ms ease-in-out;
    font-family: 'Roboto Slab', serif;
}


.lista a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.produto:hover {
    transform: scale(1.05) translateY(-5%);
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.produto img {
    width: 8rem;
    height: 8rem;

}


/* ---- Parte de cadastro ---- */

input, select, textarea, button{
    border-radius: 5px;
}
fieldset {
    border:0;
}

.pagina{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 300px;
}

.campo{
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.campo input[type="text"] {
    padding: 0.5em;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    margin: 5px;
    font-size: 15px;
}

.botao {
    font-size: 1.2em;
    background: var(--cor-destaque);
    border-radius: 10px;
    color: #000000;
    padding: 0.2em 0.6em;
    
}

.botaoVermelho {
    font-size: 1.2em;
    background: red;
    border-radius: 10px;
    color: #000000;
    padding: 0.2em 0.6em;
    
}

.botao:hover {
    background: green;
}

.botaoEntrada {
    font-size: 1.2em;
    background: var(--cor-destaque);
    border-radius: 10px;
    color: #000000;
    padding: 0.2em 0.6em;
}

.filtro {
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.titulo {
    display: flex;
    justify-content: center;
    margin: 10px;
}
 


/* ---- Parte das imagens ---- */

.imagens_entradas {
    width: 50px;

}

/* ---- Modal ---- */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #888;
    width: 400px;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal_info{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}
.model_container_text {
    padding-bottom: 5px;
    font: 20px;
}

.model_container_descricao {
    font: 20px;
}

.botaoEditar {
    font-size: 1.2em;
    background: var(--cor-destaque);
    border-radius: 10px;
    color: #000000;
    padding: 0.2em 0.6em;
    margin-right: 1vw;
}

.botaoEditar:hover {
    background: green;
}

.botaoExcluir {
    font-size: 1.2em;
    background: red;
    border-radius: 10px;
    color: #000000;
    padding: 0.2em 0.6em;
}

.modalFuncao{
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal_funcao_content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #888;
    width: fit-content;
    height: fit-content;
}

.formularioEdicao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}	

.modal_botoes_editar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}	

.botaoConfirmar {
    font-size: 1.2em;
    background: var(--cor-destaque);
    border-radius: 10px;
    color: #000000;
    padding: 0.2em 0.6em;
    margin-right: 1vw;
}	

.botaoConfirmar:hover {
    background: green;
}

.botaoCancelar {
    font-size: 1.2em;
    background: red;
    border-radius: 10px;
    color: #000000;
    padding: 0.2em 0.6em;
}